body{
    background-color: white;
    color: #555;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    flex-direction: column;
}

.brandeis-title{
    overflow: hidden;
    word-spacing: normal;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    height:100%;
    letter-spacing: normal;
}




.diversity{
    display: block;
    background-color: #f4f4f4;
    color: black;
    width: 100%;
    font-size: x-large;
    min-height: 120px;
    padding-top: 10px;
    box-shadow:slategray;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

#div-title:hover{
    text-decoration: underline;
}


#div-title{
    text-decoration: none;
    color: black;
}


.diversity strong{
    word-spacing: normal;
    font-size: 43px;
}

#div-subtitle a{
    font-size: 12px;
    text-decoration: none;
    color: navy;
}

#div-subtitle a:hover{
    text-decoration: underline;
    color: navy;
}

#div-subtitle small{
    font-size: 15px;
}

#div-subtitle{
    visibility: collapse;
}

.breadcrumb{
    visibility: collapse;
    margin-top: 10px;
}

.breadcrumb ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    justify-content: center;
}

.breadcrumb li{
    font-size: 13px;
}

.breadcrumb li:not(:last-child) ::after{
    display: inline-block;
    color: black;
    margin: 0 .25rem;
    content: "/";
}

.breadcrumb a{
    color:navy;
    text-decoration: none;
}

.breadcrumb a:hover{
    text-decoration: underline;
}


#brandeis-header{
    background-color: white;
    color: navy;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#nav-button{
    background-color: navy;
    color: white;
    height: 45px;
    align-self: center;
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 45px;
    border-radius: 7px;
}
.search-icon{
    fill: white;
}

#search-button{
    background-color: navy;
    color: white;
    height: 45px;
    align-self: center;
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    width: 45px;
    border-radius: 7px;
    border: 0;
}



#nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 10%;
}

.hamburger-icon {
    fill: white;
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s;
}

#div-subtitle research{
    font-size: 13px;
    font-weight: bolder;
    color: black
}

@media(min-width:1025px) {

    .breadcrumb{
        visibility: visible;
    }

    .diversity{
        min-height: 80px;
        align-content: center;
        padding-top: 25px;
        text-align: center;
    }
}

#title{
    font-size: 40px;
    font-weight: bolder;
}

#subtitle{
    /* font-size: 24px; */
    font-weight: lighter;
    margin-top: 0px;
    letter-spacing: 0.4em;
}



#main-footer{
    background-color: #555;
    /* width: 100%; */
    margin-bottom: 0;
    width: 100%;
}

#main-footer strong{
    font-size: 16px;
}

#footer-top{
    padding-top: 70px; 
    gap: 10px;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr);  */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    background-color: #555;
    font-size: 13px;
    color: white;
}

#main-footer ul{
    list-style: none;
    margin-left: -40px;
}

#main-footer ul li{
    margin-bottom: 15px;
}

.foot-title{
    font-size: 25px;
    background-color: #555;
}


#main-footer ul li a{
    text-decoration: none;
    color: white;
}


#explore-section{
    flex: 1;
    font-size: 13px;
}

#find-section{
    flex: 1;
    font-size: 13px;
}

#contact-section{
    font-size: 13px;
}
#contact-section a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}



#contact-section a:hover{
    text-decoration: underline;
    color: white;
}

#main-footer ul li a:hover{
    text-decoration: underline;
    color: white;
}


#info-body{
    /* height: 1000px; */
    padding: 20px;
    background-color: white;
}

#info-body h1{
    font-size: 35px;
    color: black;
}

#table-header{
    /* height: 55px; */
    align-items: start;
    background-color: navy;
    color: white;
    /* width: 100%; */
}

#info-body a{
    color: navy;
    text-decoration-color: navy;
    text-decoration: underline;
}

#info-body a:hover{
    color: rgb(9, 73, 9);
    text-decoration-color: rgb(9, 73, 9);
    text-decoration: underline;
}


#table-header tr{
    padding: 20px;
}

#table-header th{
    padding: 20px;
    text-align: left;
}

.table-container{
    overflow-x:auto;
}

table{
    width: 100%;
    table-layout: auto;
}

td{
    padding: 20px;
    font-weight:bold;
    font-size: large;
}

.index-odd{
    background-color: whitesmoke;
    color: black;    
}

.index-even{
    background-color: white;
    color: black;
}

#footer-bot-row{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 10px; /* Gap between grid items */
    padding: 10px;
    background-color: #555;
    font-size: 13px;
    color: white;
}

#footer-top hr{
    height: 1px;
    background-color: lightgray;
}


#footer-bot-row a{
    color: white;
    text-decoration: none;
}

#footer-bot-row strong{
    font-size: 14px;
}
#footer-bot-row a:hover{
    color: white;
    text-decoration: underline;
}

@media (min-width: 512px) {
    #footer-top{
        padding-top: 70px; 
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        background-color: #555;
        font-size: 13px;
        color: white;
    }

    #footer-bot-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Gap between grid items */
        padding: 10px;
        background-color: #555;
        font-size: 13px;
        color: white;
    }
}

