body{
    background-color: white;
    color: #555;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
}

.brandeis-title{
    overflow: hidden;
    word-spacing: normal;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height:100%;
    letter-spacing: normal;
}


.diversity{
    background-color: #f4f4f4;
    color: black;
    width: 100%;
    font-size: x-large;
    min-height: 120px;
    padding: 10px;
    box-shadow:slategray;
    text-align: center;
    align-content: center;
}

#div-title:hover{
    text-decoration: underline;
}


#div-title{
    text-decoration: none;
    color: black;
}


.diversity strong{
    word-spacing: normal;
    font-size: 43px;
}

/* .diversity small{
    width: 100%;
    padding-bottom: 0;
    margin-top: 20px;
    font-size: 13.5px;
} */

#div-subtitle a{
    font-size: 12px;
    text-decoration: none;
    color: navy;
}

#div-subtitle a:hover{
    text-decoration: underline;
    color: navy;
}

#div-subtitle small{
    font-size: 15px;
}

#div-subtitle research{
    font-size: 13px;
    font-weight: bolder;
    color: black
}

/*  */
@media(max-width:1000px) {

    #div-subtitle{
        visibility: collapse;
    }

    .diversity{
        min-height: 80px;
        align-content: center;
        padding-top: 25px;
        text-align: center;
    }

}

/* .brandeis-title h1 h3{
    margin: 0;
}
.brandeis-title h1{
    margin-bottom: 0;
}
.brandeis-title h3{
    margin-top: 0;
} */

#title{
    font-size: 40px;
    font-weight: bolder;
}

#subtitle{
    /* font-size: 24px; */
    font-weight: lighter;
    margin-top: 0px;
    letter-spacing: 0.4em;
}

#brandeis-header{
    background-color: whites;
    color: navy;
    height: 100px;
    width: 100%;
}



