body{
    background-color: white;
    color: #555;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.brandeis-title{
    overflow: hidden;
    word-spacing: normal;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    height:100%;
    letter-spacing: normal;
}


.diversity{
    display: block;
    background-color: #f4f4f4;
    color: black;
    width: 100%;
    font-size: x-large;
    min-height: 120px;
    padding-top: 10px;
    box-shadow:slategray;
    text-align: center;
    align-content: center;
}

#div-title:hover{
    text-decoration: underline;
}


#div-title{
    text-decoration: none;
    color: black;
}


.diversity strong{
    word-spacing: normal;
    font-size: 43px;
}

#div-subtitle a{
    font-size: 12px;
    text-decoration: none;
    color: navy;
}

#div-subtitle a:hover{
    text-decoration: underline;
    color: navy;
}

#div-subtitle small{
    font-size: 15px;
}

#div-subtitle{
    visibility: collapse;
}

#brandeis-header{
    background-color: white;
    color: navy;
    /* margin-left: 10%; */
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#nav-button{
    background-color: navy;
    color: white;
    height: 45px;
    align-self: center;
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 45px;
    border-radius: 7px;
}
.search-icon{
    fill: white;
}

#search-button{
    background-color: navy;
    color: white;
    height: 45px;
    align-self: center;
    display: flex;
    cursor:pointer;
    justify-content: center;
    align-items: center;
    width: 45px;
    border-radius: 7px;
    border: 0;
}



#nav-buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 10%;
}

.hamburger-icon {
    fill: white;
}

.hamburger-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s;
}

#div-subtitle research{
    font-size: 13px;
    font-weight: bolder;
    color: black
}

@media(min-width:1025px) {

    #div-subtitle{
        visibility: visible;
    }

    .diversity{
        min-height: 80px;
        align-content: center;
        padding-top: 25px;
        text-align: center;
    }
}

#title{
    font-size: 40px;
    font-weight: bolder;
}

#subtitle{
    /* font-size: 24px; */
    font-weight: lighter;
    margin-top: 0px;
    letter-spacing: 0.4em;
}



#main-footer{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: flex-start; */
    background-color: #555;
    width: 100%;
    /* height: 50%; */
    margin-bottom: 0;
    /* height: 1000px; */
    /* display: flex; */
    /* max-width: 1000px; */
    /* flex-direction: column; */
    /* padding-left: 10%;
    padding-top: 70px; */
    /* height: 35%; */
    /* justify-content: space-evenly; */
    /* gap: 5%; */
    /* min-height: 400px; */
    /* width: 100%; */
}

#footer-top{
    padding-left: 10%;
    padding-top: 70px;
    color: white;
    display: flex;
    background-color: #555;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* height: 35%; */
    gap: 10%;
}

#contact-section{
    /* flex: 1; */
    /* flex-shrink: 1;
    flex-grow: 1; */
}

#explore-section{
    /* flex: 1; */
    /* flex-shrink: 1;
    flex-grow: 1; */
}

#find-section{
    /* flex: 1; */
    /* flex-shrink: 1;
    flex-grow: 1; */
}

#main-footer ul{
    list-style: none;
    margin-left: -40px;
}

#main-footer ul li{
    margin-bottom: 15px;
}

.foot-title{
    font-size: 25px;
    background-color: #555;
}


#main-footer ul li a{
    text-decoration: none;
    color: white;
}

#contact-section a{
    text-decoration: none;
    color: white;
}

#contact-section a:hover{
    text-decoration: underline;
    color: white;
}

#main-footer ul li a:hover{
    text-decoration: underline;
    color: white;
}


#brandeis-footer-title{
    color: white;
    background-color: #555;
    padding-left: 10%;
}

#info-body{
    /* height: 1000px; */
    padding: 20px;
    background-color: white;
}

#info-body h1{
    font-size: 35px;
    color: black;
}

#info-body table{
    width: 100%;
    table-layout: fixed;
}

#table-header{
    /* height: 55px; */
    align-items: start;
    background-color: navy;
    color: white;
    width: 100%;
}

#info-body a{
    color: navy;
    text-decoration-color: navy;
    text-decoration: underline;
}

#info-body a:hover{
    color: rgb(9, 73, 9);
    text-decoration-color: rgb(9, 73, 9);
    text-decoration: underline;
}


#table-header tr{
    padding: 20px;
}

#table-header th{
    padding: 20px;
    text-align: left;
}

td{
    padding: 20px;
    font-weight:bold;
    font-size: large;
}

.index-odd{
    background-color: whitesmoke;
    color: black;    
}

.index-even{
    background-color: white;
    color: black;
}

#footer-bot-row{
    display: flex;
    background-color: #555;
    color: white;
    padding-bottom: 30px;
    gap: 8.5%;
}

#footer-bot-row a{
    color: white;
    text-decoration: none;
}

#footer-bot-row a:hover{
    color: white;
    text-decoration: underline;
}

